<div class="header-top">
    <div class="container">
        <div class="ht-left">
            <div class="mail-service">
                <i class=" fa fa-envelope"></i>
                adminfashi@gmail.com
            </div>
            <div class="phone-service">
                <i class=" fa fa-phone"></i>
                0988.888.888
            </div>
        </div>
        <div class="ht-right">
            <a href="/login" class="login-panel"><i class="fa fa-user"></i>Đăng nhập</a>
            <div class="lan-selector">
                <select class="language_drop" name="countries" id="countries" style="width:300px;">
                    <option value='yt' data-image="img/flag-1.jpg" data-imagecss="flag yt"
                        data-title="English">Tiếng Anh</option>
                    <option value='yu' data-image="img/flag-2.jpg" data-imagecss="flag yu"
                        data-title="Bangladesh">Tiếng Đức </option>
                </select>
            </div>
            <div class="top-social">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter-alt"></i></a>
                <a href="#"><i class="ti-linkedin"></i></a>
                <a href="#"><i class="ti-pinterest"></i></a>
            </div>
        </div>
    </div>
</div>