<div class="nav-item">
    <div class="container">
        <nav class="nav-menu mobile-menu">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/product">Cửa hàng</a></li>
                
                <li><a href="./blog">Blog</a></li>
                <li><a href="./contact">Giới thiệu</a></li>
                <li><a>Thêm</a>
                    <ul class="dropdown">
                        <li><a href="./shopping-cart">Giỏ hàng</a></li>
                        <li><a href="./checkout">Thanh toán</a></li>
                        <li><a href="./register">Đăng ký</a></li>
                        <li><a href="./login">Đăng nhập</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
    </div>